* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #ffaee3;
  background: #0b0623;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  margin-top: 100px;
}

.video-scanner {
  width: 90vw;
  max-width: 600px;
  border: 3px solid #ffaee3;
  border-radius: 0.5rem;
  overflow: hidden;
  margin-top: 300px;
}

.result-screen {
  position: fixed;
  height: 100dvh;
  width: 100vw;
  display: none;
  justify-content: center;
  align-items: center;
}

.scanned .result-screen {
  display: flex;
}

.result-content {
  background: white;
  padding: 1rem;
  border-radius: 0.5rem;
}

select:empty {
  display: none;
}

#text-background {
  position: absolute;
  font-family: "IBM Plex Mono";
  font-size: 600px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  opacity: 0.37;
  background: linear-gradient(73deg, #0b0623 12.65%, #ffaee3 91.13%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: -1;
  margin-bottom: 300px;
}

#text {
  position: absolute;
  color: #ffaee3;
  text-align: center;
  font-family: "IBM Plex Mono";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 573px;s
  height: 202px;
  flex-direction: column;
  justify-content: center;
  margin-top: -270px;
}
